.color {
    color: white;

    color: #e65027;
    color: #d68160;

    color: #e5a228;
    color: #dfb96d;
   
    color: #176095;
    color: #82deff;

    color: #aecfaa;
    color: #d3e4d1;

    color: #2d2d2d;
    color: #1f1f1f;

    color: #3f3f3f;
    color: #696969;

    color: #E3DFFF;

    background: linear-gradient(135deg, #dfb96d, white);
    background: linear-gradient(135deg, #aecfaa, #d3e4d1);

    background-color: hsla(0, 0%, 100%, 0.6);
    
}