/*** custom variables ***/
:root {
    /** colors **/
    --clr-main: hsl(0, 0%, 41%);

        /* colors background */
    --bg: hsl(60, 30%, 95%);
    --bg-projects-overlay: hsla(180, 23%, 97%, 0.9);
    --bg-navbar: hsla(60, 30%, 95%, 0.8);

        /* colors projects */
    --clr-fem: hsl(300, 100%, 25%);
    --clr-mjc: hsl(219, 49%, 34%);
    --clr-jsrg: hsl(224, 22%, 23%);
 
        /* colors about */
    --clr-red: hsl(17, 59%, 61%);
    --clr-orange: hsl(40, 64%, 65%);
    --clr-blue: hsl(205, 73%, 34%);
    --clr-green: hsl(114, 28%, 74%);

        /* colors box shadows */
    --clr-bs1: hsl(0, 0%, 77%);
    --clr-bs2: hsla(0, 0%, 0%, 0.25);
    --clr-bs3: hsla(0, 0%, 0%, 0.15);
    --clr-bs4: hsla(0, 0%, 0%, 0.05);
    --clr-bs-red: hsla(17, 59%, 61%, 0.3);
    --clr-bs-orange: hsla(40, 64%, 65%, 0.4);
    --clr-bs-blue: hsla(205, 73%, 34%, 0.2);
    --clr-bs-green: hsla(114, 28%, 74%, 0.6);

    /** typography **/
    --ff-main: 'Dosis', sans-serif;

    --fs-h1-home: 3rem;
    --fs-h1: 2.5rem;
    --fs-h2: 2rem;
    --fs-section-text: 1.65rem;
    --fs-normal: 1.5rem;
    --fs-small: 1.2rem;

    --fw-bold: 600;
    --fw-regular: 500;
}

.dark-mode {
    --clr-main: hsl(60, 30%, 95%);
    --bg: hsl(0, 0%, 41%);
    --bg-navbar: transparent;
    --clr-bs1: hsl(0, 0%, 16%);
    --clr-blue: hsl(196, 51%, 55%);

    --bg-projects-overlay: hsla(0, 0%, 0%, 0.9);
    --clr-fem: hsl(300, 66%, 67%);
    --clr-mjc: hsl(196, 54%, 65%);
    --clr-jsrg: hsl(224, 22%, 85%);

    --clr-bs-red: hsla(17, 59%, 61%, 0.9);
    --clr-bs-orange: hsla(40, 64%, 65%, 0.9);
    --clr-bs-blue: hsla(196, 51%, 55%, 0.6);
    --clr-bs-green: hsla(114, 28%, 74%, 0.9);
}

/*** reset ***/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** accessibility ***/

/* animations, transitions, smooth scroll */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/* theme toggle */
.theme__container {
    display: flex;
    justify-content: flex-end;

    position: fixed;
    width: 95vw;
    max-width: 100rem;
    top: 3%;
    left: 50%;
    padding: 5px;
    transform: translateX(-50%);
    z-index: 10;
}

.theme__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    background-color: var(--bg);
    border-radius: 50%;
    box-shadow: 0 3px 10px var(--clr-bs2);
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.theme__button > i {
    font-size: 1.6rem;
    color: var(--clr-main);
    pointer-events: none;
}

.theme__button:active {
    transform: translateY(-5%);
}

@media (min-width: 50em) {
    .theme__container {
        top: auto;
        bottom: 3%;
    }
}

/* for screen readers only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;  /*added line*/
    border: 0;
}
/* tab index to be added */
/*** end-of-accessibility ***/

/*** set-up ***/
html {
    font-size: 62.5%;  /* 10px = 1rem */
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: var(--bg);
    font-family: var(--ff-main);
    font-size: var(--fs-normal);
    color: var(--clr-main);
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

img:not([hidden]) {
    display: block;
}

button {
    font: inherit;
    border: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
/*** end-of-set-up ***/


/*** navigation ***/
.nav {
    position: fixed;
    width: 95vw;
    max-width: 100rem;
    bottom: 0;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--fw-bold);
    color: var(--clr-blue);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.nav__item {
    position: relative;
    padding: 1.5rem 1.5rem;
}

.nav__item:first-child {
    border-top-left-radius: 1rem;
}

.nav__item:last-child {
    border-top-right-radius: 1rem;
}

@supports (backdrop-filter: blur(1.5rem)) {
    .nav__item {
        background: var(--bg-navbar);
        backdrop-filter: blur(1.5rem);
    }
}

.nav__link {
    display: block;
}

.nav__link::after {
    content: '';
    position: absolute;
    width: 75%;
    height: 0.2rem;
    top: 1rem;
    left: 1rem;
    background-color: var(--clr-blue);
    transform: scaleX(0);
    transition: 300ms;
}

.nav__link:hover::after,
.nav__link:focus::after {
    transform: scaleX(1);
    transition: 300ms;
}

@media (min-width: 50em) {
    .nav {
        top: 0;
        bottom: auto;
    }

    .nav__list {
        justify-content: flex-end;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .nav__item {
        padding: 1.5rem 2rem;
    }
    
    .nav__item:first-child {
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 0;
    }
    
    .nav__item:last-child {
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 0;
    }
}

/*** end-of-navigation ***/

section {
    /* max-width: 100em; */
    margin: 0rem auto;
    min-height: 100vh;
}

.title {
    margin: 3rem auto 1rem;
    padding-top: 1.5rem;
    font-size: var(--fs-h1);
    color: var(--clr-main);
    text-align: center;
}

.section__text {
    margin: 1rem 0;
    width: 100%;
    font-size: var(--fs-section-text);
    line-height: 1.5;
    text-align: center;
}

/*** home ***/
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.home__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__title {
    font-size: var(--fs-h1-home);
    text-align: center; 
    color: var(--clr-red);
}

.home__title--text {
    margin-top: 0.5rem;
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);;
    text-align: center;
}

.home__line {
    width: 120%;
    margin-top: 1rem;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, hsl(13, 79%, 53%), var(--clr-red), hsl(39, 78%, 53%), var(--clr-orange));
}

.img-pavlina {
    width: 25rem;
    aspect-ratio: 1/1;
    margin-top: 2rem;
    border-bottom-left-radius: 5rem;
    border-top-right-radius: 1.5rem;
    box-shadow: 
        0.25em 0.25em 0.75em var(--clr-bs2),
        0.125em 0.125em 0.25em var(--clr-bs3);
}

.img-pavlina-id {
    width: 25rem;
    margin-top: 1.5rem;
    box-shadow: 
        0.25em 0.25em 0.75em var(--clr-bs2),
        0.125em 0.125em 0.25em var(--clr-bs3);
}

@media (min-width: 50em) {
    .home {
        padding-bottom: 0;
    }

    .home__container {
        display: block;
        position: relative;
        height: 43rem;
        width: 100rem;
        padding: 0 2rem;
        padding-bottom: 2rem;
    }

    .home__title {
        position: absolute;
        top: 12rem;
        left: 45rem;
        text-align: left;
    }

    .home__title--text {
        position: absolute;
        top: 16rem;
        left: 45rem;
        margin-top: 0;
        text-align: left;
    }

    .home__line {
        position: absolute;
        top: 19.5rem;
        left: 8rem;
        max-width: 92rem;
        margin-top: 1rem;
    }

    .img-pavlina {
        position: absolute;
        top: 0rem;
        left: 15rem;
        margin-top: 0;
    }

    .img-pavlina-id {
        position: absolute;
        top: 25.5rem;
        left: 15rem;
    }
}

/*** end of home ***/

/*** projects ***/

.projects__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 100rem;
    margin: 1.75rem auto 5rem;
    padding: 0rem 2rem;
}

.projects__item {
    padding: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 5px 5px 20px var(--clr-bs1);
}

.projects__sub-title {
    margin-bottom: 1.5rem;
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    text-align: left;
}

.projects__FrontendMentor .projects__sub-title {
    color: var(--clr-fem);
}

.projects__MyJokeCollection .projects__sub-title {
    color: var(--clr-mjc);
}

.projects__JavaScriptRetroGames .projects__sub-title {
    color: var(--clr-jsrg);
}


.projects__figure {
    position: relative;
    overflow: hidden;
}

.projects__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 2em;
   
    font-size: var(--fs-normal);
    font-weight: var(--fw-regular);
    color: var(--clr-fem);
    line-height: 1.6;
    text-align: left;

    background-color: var(--bg-projects-overlay);
    transform: translateX(-100%);
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1);
}

.projects__FrontendMentor .projects__overlay {
    color: var(--clr-fem);
}

.projects__MyJokeCollection .projects__overlay {
    color: var(--clr-mjc);
}

.projects__JavaScriptRetroGames .projects__overlay {
    color: var(--clr-jsrg);
}

.projects__figure:hover > .projects__overlay,
.projects__figure:focus > .projects__overlay {
    transform: translateX(0);
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1);
}

.projects__link {
    align-self: flex-start;
    margin-top: 3rem;
    font-weight: var(--fw-bold);
}

.projects__FrontendMentor .projects__link {
    color: var(--clr-fem);
    border-bottom: 2px solid var(--clr-fem);
}

.projects__MyJokeCollection .projects__link {
    color: var(--clr-mjc);
    border-bottom: 2px solid var(--clr-mjc);
}

.projects__JavaScriptRetroGames .projects__link {
    color: var(--clr-jsrg);
    border-bottom: 2px solid var(--clr-jsrg);
}

.projects__languages {
    position: absolute;
    left: 3rem;
    bottom: 0;
}

.projects__overlay--GitHub {
    position: absolute;
    bottom: 0;
    right: 3rem;
    font-size: var(--fs-h1);
}

/*** end of projects ***/


/*** Frontend Mentor Challenges ***/

.fem__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    /*originally 100em*/
    max-width: 110rem;
    margin: 0 auto;
    padding: 2rem 2rem 6rem;
}

.fem__item {
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 5px 5px 15px var(--clr-bs1);
}

.fem__item--img-holder {
    overflow: hidden;
    border-top-left-radius: 1rem;
    box-shadow: 0 0.2rem 0.5rem var(--clr-bs4);
}

.fem__img {
    transition: 
        transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
        opacity 250ms linear;
}

.fem__item:focus {
    position: relative;
    z-index: 2;
}

.fem__img:hover,
.fem__item:focus .fem__img {
    transform: scale(1.2);
    opacity: 0.75;
}

.fem__item--text-holder {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.fem__item--title {
    font-weight: var(--fw-bold);
}

.fem__languages {
    margin: 0.5rem 0;
    font-size: var(--fs-small);
}

.fem__link--github > i {
    font-size: var(--fs-h2);
    transition: transform 250ms linear;
}

.fem__link--github > i:hover,
.fem__link--github > i:focus {
    transform: scale(1.1);
    transition: transform 150ms linear;
}

.fem__link--live {
    height: 1.75rem;
    align-self: flex-end;
    font-size: var(--fs-small);
    font-weight: var(--fw-bold);
}

.fem__link--live:hover,
.fem__link--live:focus {
    border-bottom: 1px solid var(--clr-main);
}

/*** end of Frontend Mentor Challenges ***/

/*** JavaScript Retro Games ***/

.jsrg__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    /*originally 100em*/
    max-width: 110rem;
    margin: 0 auto 5rem;
    padding: 2rem;
}

.jsrg__item {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 5px 5px 20px var(--clr-bs1);
}

.jsrg__item--img-holder {
    box-shadow: 1px 4px 2px -2px var(--clr-bs1);
}

.jsrg__item--description {
    padding: 1rem 2rem;
}

.jsrg__item--text-holder {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 1rem 2rem;
}

.jsrg__link--tutorial:hover,
.jsrg__link--tutorial:focus {
    border-bottom: 1px solid var(--clr-main);
}

.jsrg__link--tutorial > span {
    font-size: var(--fs-small);
}

.jsrg__languages {
    font-size: var(--fs-small);
}

.jsrg__link--github > i {
    font-size: var(--fs-h2);
    transition: transform 250ms linear;
}

.jsrg__link--github > i:hover,
.jsrg__link--github > i:focus {
    transform: scale(1.1);
    transition: transform 150ms linear;
}

.jsrg__link--live {
    height: 1.75rem;
    align-self: flex-end;
    font-size: var(--fs-small);
    font-weight: var(--fw-bold);
}

.jsrg__link--live:hover,
.jsrg__link--live:focus {
    border-bottom: 1px solid var(--clr-main);
}
/*** end of JavaScript Retro Games ***/

/*** about ***/
.about__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;    
    max-width: 100rem;
    margin: 1.75rem auto 5rem;
    padding: 0rem 2rem;
}

.about__item {
    padding: 1rem 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;  
}

.about__item:nth-of-type(4n + 1) {
    box-shadow: 5px 5px 15px var(--clr-bs-red);
}

.about__item:nth-of-type(4n + 2) {
    box-shadow: 5px 5px 15px var(--clr-bs-orange);
}

.about__item:nth-of-type(4n + 3) {
    box-shadow: 5px 5px 15px var(--clr-bs-blue);
}

.about__item:nth-of-type(4n + 4) {
    box-shadow: 5px 5px 15px var(--clr-bs-green);
}

.about__item > h2 {
    font-size: var(--fs-h2);
}

.about__item > p {
    margin-top: 0.5rem;
    line-height: 1.5;
}

.about__item:nth-of-type(4n + 1) > h2 {
    color: var(--clr-red);
}

.about__item:nth-of-type(4n + 2) > h2 {
    color: var(--clr-orange);
}

.about__item:nth-of-type(4n + 3) > h2 {
    color: var(--clr-blue);
}

.about__item:nth-of-type(4n + 4) > h2 {
    color: var(--clr-green);
}
/*** end of about ***/


/*** contact ***/
.contact__container {  
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 4rem 0 7rem;
    padding: 1rem 4rem;
    font-size: 3.3rem;
    color: var(--bg);
    background-color: var(--clr-main);
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;  
    box-shadow: 5px 5px 5px var(--clr-bs1);
}

.social-list__link > i {
    transform: scale(1);
    transition: transform 150ms linear;
}

.social-list__link > i:hover,
.social-list__link > i:focus {
    transform: scale(1.1);
    transition: transform 150ms linear;
}

.social__list--fem-img {
    transform: scale(1);
    transition: transform 150ms linear;
}

.social__list--fem-img:hover,
.social__list--fem-img:focus {
    transform: scale(1.1);
    transition: transform 150ms linear;
}

.funny__container {  
    max-width: 55ch;
    margin: 0 auto;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.funny__item {
    margin-bottom: 2rem;
}

.funny__title {
    font-size: var(--fw-regular);
    margin-bottom: 1rem;
}

.funny__quote {
    margin-bottom: 0.5rem;
}
    
/*** end of contact ***/