/*** custom variables ***/
:root {
    --clr-Frontend-Mentor: rgb(128, 0, 128);
    --clr-My-Joke-Collection: rgb(44, 73, 127);
    --clr-JS-Retro-Games: #2e3548;

    --clr-bs1: rgb(197, 197, 197);

    --bg: rgb(247, 247, 240);
    --bg-projects-overlay: rgba(248, 250, 250, 0.9); 

    --ff-main: 'Dosis', sans-serif;

    --fs-h1-home: 3rem;
    --fs-h1: 2.5rem;
    --fs-h2: 2rem;
    --fs-normal: 1.5rem;
    --fs-small: 1.2rem;

    --fw-bold: 600;
    --fw-regular: 500;
}

.dark-mode {
    --bg: #222;
}


/*** reset ***/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*** set-up ***/
html {
    font-size: 62.5%;  /* 10px = 1 rem */
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: var(--bg);
    font-family: var(--ff-main);
    font-size: var(--fs-normal);
}

img {
    max-width: 100%;
}

img:not([hidden]) {
    display: block;
}

button {
    font: inherit;
    border: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
/*** end-of-set-up ***/


/*** accessibility ***/

/* animations, transitions, smooth scroll */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/* theme toggle */
.theme-button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 3%;
    right: 3%;
    width: 40px;
    height: 40px;
    z-index: 100;

    background-color: white;
    border-radius: 50%;
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);
    transition: all 0.1s ease-in-out;

    cursor: pointer;
}

.theme-button > i {
    font-size: 1.6rem;
    color: rgb(75, 73, 75);
    pointer-events: none;
}

.theme-button:active {
    transform: translateY(-5%);
}

/* for screen readers only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;  /*added line*/
    border: 0;
}
/* tab index ??? */
/*** end-of-accessibility ***/

/*** navigation ***/
.nav--desktop {
    position: fixed;
    width: 95vw;
    max-width: 100rem;
    bottom: 0;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.nav__list--desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--fw-bold);
    color: #176095;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.nav__item--desktop {
    position: relative;
    padding: 1.5rem 1.5rem;
}

.nav__item--desktop:first-child {
    border-top-left-radius: 1rem;
}

.nav__item--desktop:last-child {
    border-top-right-radius: 1rem;
}

@supports (backdrop-filter: blur(1.5rem)) {
    .nav__item--desktop {
        background: rgba(247, 247, 240, 0.8);
        backdrop-filter: blur(1.5rem);
    }
}

.nav__link--desktop {
    display: block;
}

.nav__link--desktop::after {
    content: '';
    position: absolute;
    width: 75%;
    height: 0.2rem;
    top: 1rem;
    left: 1rem;
    background-color: #176095;
    transform: scaleX(0);
    transition: 0.3s;
}

.nav__link--desktop:hover::after,
.nav__link--desktop:focus::after {
    transform: scaleX(1);
    transition: 0.3s;
}

@media (min-width: 45em) {
    .nav--desktop {
        top: 0;
        bottom: auto;
    }

    .nav__list--desktop {
        justify-content: flex-end;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .nav__item--desktop {
        padding: 1.5rem 2rem;
    }
    
    .nav__item--desktop:first-child {
        border-bottom-left-radius: 1rem;
    }
    
    .nav__item--desktop:last-child {
        border-bottom-right-radius: 1rem;
    }
}

/*** end-of-navigation ***/

section {
    /* max-width: 100em; */
    margin: 0rem auto;
    min-height: 100vh;
}

.title {
    margin: 3rem auto;
    padding-top: 1.5rem;
    font-size: var(--fs-h1);
    text-align: center;
}

.section__text {
    margin: 1rem 0;
    width: 100%;
    line-height: 1.5;
    text-align: center;
}

/*** home ***/
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* to account for the footer */
    /* padding-bottom: 5rem; */
    padding-bottom: 2rem;
}

.home__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__title {
    font-size: var(--fs-h1-home);
    text-align: center; 
    color: #d68160;
}

.home__title--text {
    margin-top: 0.5rem;
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    color: #696969;
    text-align: center;
}

.home__line {
    width: 120%;
    margin-top: 1rem;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #e65027, #d68160, #e5a228, #dfb96d);
}

.img-pavlina {
    width: 25rem;
    aspect-ratio: 1/1;
    margin-top: 2rem;
    border-bottom-left-radius: 5rem;
    border-top-right-radius: 1.5rem;
    box-shadow: 
        0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

.img-pavlina-id {
    width: 25rem;
    margin-top: 1.5rem;
    box-shadow: 
        0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 45em) {
    .home {
        padding-bottom: 0;
    }

    .home__container {
        display: block;
        position: relative;
        height: 43rem;
        width: 100rem;
        padding: 0 2rem;
        padding-bottom: 2rem;
    }

    .home__title {
        position: absolute;
        top: 12rem;
        left: 45rem;
        text-align: left;
    }

    .home__title--text {
        position: absolute;
        top: 16rem;
        left: 45rem;
        margin-top: 0;
        text-align: left;
    }

    .home__line {
        position: absolute;
        top: 19.5rem;
        left: 8rem;
        max-width: 92rem;
        margin-top: 1rem;
    }

    .img-pavlina {
        position: absolute;
        top: 0rem;
        left: 15rem;
        margin-top: 0;
    }

    .img-pavlina-id {
        position: absolute;
        top: 25.5rem;
        left: 15rem;
    }
}

/*** end of home ***/

/*** projects ***/

.projects__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 100rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    padding: 0rem 2rem;
    /* outline: 1px solid yellowgreen; */
}

.projects__item {
    padding: 2rem;
    box-shadow: 5px 5px 20px var(--clr-bs1);
}

.projects__sub-title {
    margin: 2rem 0;
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    text-align: left;
}

.projects__FrontendMentor .projects__sub-title {
    color: var(--clr-Frontend-Mentor);
}

.projects__MyJokeCollection .projects__sub-title {
    color: var(--clr-My-Joke-Collection);
}

.projects__JavaScriptRetroGames .projects__sub-title {
    color: var(--clr-JS-Retro-Games);
}


.projects__figure {
    position: relative;
    overflow: hidden;
    /* outline: 1px solid purple; */
}

.projects__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 2em;
   
    font-size: var(--fs-normal);
    font-weight: var(--fw-regular);
    color: var(--clr-Frontend-Mentor);
    line-height: 1.6;
    text-align: left;

    background-color: var(--bg-projects-overlay);
    transform: translateX(-100%);
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1);
}

.projects__FrontendMentor .projects__overlay {
    color: var(--clr-Frontend-Mentor);
}

.projects__MyJokeCollection .projects__overlay {
    color: var(--clr-My-Joke-Collection);
}

.projects__JavaScriptRetroGames .projects__overlay {
    color: var(--clr-JS-Retro-Games);
}

.projects__figure:hover > .projects__overlay,
.projects__figure:focus > .projects__overlay {
    transform: translateX(0);
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1);
}

.projects__link {
    align-self: flex-start;
    margin-top: 3rem;
    font-size: var(--fs-small);
    font-weight: var(--fw-bold);
}

.projects__FrontendMentor .projects__link {
    color: var(--clr-Frontend-Mentor);
    border-bottom: 2px solid var(--clr-Frontend-Mentor);
}

.projects__MyJokeCollection .projects__link {
    color: var(--clr-My-Joke-Collection);
    border-bottom: 2px solid var(--clr-My-Joke-Collection);
}

.projects__JavaScriptRetroGames .projects__link {
    color: var(--clr-JS-Retro-Games);
    border-bottom: 2px solid var(--clr-JS-Retro-Games);
}

.projects__languages {
    position: absolute;
    left: 3rem;
    bottom: 0;
}

.projects__overlay--GitHub {
    position: absolute;
    bottom: 0;
    right: 3rem;
    font-size: var(--fs-h1);
}

/*** end of projects ***/


/*** Frontend Mentor Challenges ***/

.fem__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    /*originally 100em*/
    max-width: 110rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    padding: 2rem;
}

.fem__item {
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 5px 5px 20px var(--clr-bs1);
}

.fem__item--img-holder {
    overflow: hidden;
    border-top-left-radius: 1rem;
}

.fem__img {
    transition: 
        transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
        opacity 250ms linear;
}

.fem__item:focus {
    position: relative;
    z-index: 2;
}

.fem__img:hover,
.fem__item:focus .fem__img {
    transform: scale(1.2);
    opacity: 0.75;
}

.fem__item--text-holder {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.fem__item--title {
    font-weight: var(--fw-bold);
}

.fem__languages {
    margin: 0.5rem 0;
    font-size: var(--fs-small);
}

.fem__link--github > i {
    font-size: var(--fs-h2);
    color: var(--clr-JS-Retro-Games);
    transition: transform 250ms linear;
}

.fem__link--github > i:hover,
.fem__link--github > i:focus {
    transform: scale(1.1);
    transition: transform 150ms linear;
}

.fem__link--live {
    height: 1.75rem;
    align-self: flex-end;
    font-size: var(--fs-small);
    font-weight: var(--fw-bold);
}

.fem__link--live:hover,
.fem__link--live:focus {
    border-bottom: 1px solid black;
}

/*** end of Frontend Mentor Challenges ***/

/*** JavaScript Retro Games ***/

.jsrg__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    /*originally 100em*/
    max-width: 110rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    padding: 2rem;
}

.jsrg__item {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 5px 5px 20px var(--clr-bs1);
}

.jsrg__item--img-holder {
    box-shadow: 1px 4px 2px -2px var(--clr-bs1);
}

.jsrg__item--description {
    padding: 1rem 2rem;
}

.jsrg__item--text-holder {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 1rem 2rem;
}

.jsrg__link--tutorial:hover,
.jsrg__link--tutorial:focus {
    border-bottom: 1px solid black;
}

.jsrg__link--tutorial > span {
    font-size: var(--fs-small);
}

.jsrg__languages {
    font-size: var(--fs-small);
}

.jsrg__link--github > i {
    font-size: var(--fs-h2);
    color: var(--clr-JS-Retro-Games);
    transition: transform 250ms linear;
}

.jsrg__link--github > i:hover,
.jsrg__link--github > i:focus {
    transform: scale(1.1);
    transition: transform 150ms linear;
}

.jsrg__link--live {
    height: 1.75rem;
    align-self: flex-end;
    font-size: var(--fs-small);
    font-weight: var(--fw-bold);
}

.jsrg__link--live:hover,
.jsrg__link--live:focus {
    border-bottom: 1px solid black;
}
/*** end of JavaScript Retro Games ***/

/*** about ***/
.about__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;    
    max-width: 100rem;
    margin: 0 auto;
}

.about__item {
    padding: 1rem 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 5px 5px 20px var(--clr-bs1);
}


/*** end of about ***/

/***  ***/

/***  ***/

/*** footer ***/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: #333;
    box-shadow: 10px 0px 10px rgba(0,0,0,0.5);
    /* background-image: url(./images/P4110044landscape.JPG);
    background-position: center;
    background-blend-mode: multiply; */
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    height: 5rem;
    list-style-type: none;
    text-decoration: none;
}

.social-list__link {
    color: beige;
    font-size: 2.5rem;
}

.social-list__link > img {
    width: 80%;
    height: 80%;
}

.social-list__item {
    transform: scale(1);
    transition: transform 0.2s ease-in;
}

.social-list__item:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in;
}
/*** end-of-footer ***/
